{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block collection_widget -%}
    {% spaceless %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' collection-widget')|trim}) %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-delete': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endspaceless %}
{%- endblock collection_widget %}

{% block collection_entry_row -%}
    {% spaceless %}
        <div class="row">
            <div class="col-md-8 col-sm-6">
                {{ form_row(form.value) }}
            </div>
            <div class="col-md-4 col-sm-6">
                {{ block('collection_entry_controls') }}
            </div>
        </div>
    {% endspaceless %}
{%- endblock collection_entry_row %}

{% block collection_entry_controls %}
    <a class="collection-add btn btn-sm btn-success" href="#" role="button" aria-label="Добавить">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <a class="collection-up btn btn-sm btn-info" href="#" role="button" aria-label="Вверх">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </a>
    <a class="collection-down btn btn-sm btn-info" href="#" role="button" aria-label="Вниз">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </a>
    <a class="collection-delete btn btn-sm btn-danger" href="#" role="button" aria-label="Удалить">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
{% endblock collection_entry_controls %}
