{% extends 'lab1/base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block page_header %}
    <h1>О нас</h1>
{% endblock %}

{% block content %}
    <p>
        Магазин спортивных товаров для зимних видов спорта, теперь и во Владимире.
        Качественная экипировка от ведущих поставщиков по самым выгодным ценам.
    </p>
{% endblock %}
