{% extends 'base.html.twig' %}

{% block title %}Зимний спорт{% endblock %}

{% block main %}
    {% block navbar_wrapper %}
        <nav id="navbar_wrapper" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('lab1_index') }}">Зимний спорт</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('lab1_index') }}">Главная</a></li>
                        <li><a href="{{ path('lab1_about') }}">О нас</a></li>
                        <li><a href="{{ path('lab1_contacts') }}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block page_header_wrapper %}
        <div class="page-header">
            {% block page_header %}{% endblock %}
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

    <footer class="footer">
        {% block footer %}
            <p>&copy; 2016 Artyom Opanchuk</p>
        {% endblock %}
    </footer>
{% endblock %}
