{% extends 'lab1/base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block page_header %}
    <h1>Контакты</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr><th>Наш телефон</th><td>(4922) 11-11-11</td></tr>
        <tr><th>Наш ICQ</th><td>123-456-789</td></tr>
        <tr><th>Наша почта</th><td>info@example.com</td></tr>
    </table>
{% endblock %}
