{% extends 'lab1/base.html.twig' %}

{% block page_header_wrapper %}{% endblock %}

{% block content %}
    <div id="categories" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#categories" data-slide-to="0" class="active"></li>
            <li data-target="#categories" data-slide-to="1"></li>
            <li data-target="#categories" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('images/alpine-skiing.jpg') }}" alt="Горные лыжи">
                <div class="carousel-caption">
                    <h1>Горные лыжи</h1>
                    <p>Широкий выбор моделей горных лыж от ведущих производителей для спортсменов с любым уровнем подготовки.</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ path('lab1_category', {'name': 'alpine-skiing'}) }}" role="button">Каталог</a></p>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('images/cross-country-skiing.jpg') }}" alt="Беговые лыжи">
                <div class="carousel-caption">
                    <h1>Беговые лыжи</h1>
                    <p>Беговые лыжи из стеклопластика по лучшим ценам.</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ path('lab1_category', {'name': 'cross-country-skiing'}) }}" role="button">Каталог</a></p>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('images/snowboarding.jpg') }}" alt="Сноуборд">
                <div class="carousel-caption">
                    <h1>Сноуборд</h1>
                    <p>Надежная экипировка для отважных покорителей горных склонов.</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ path('lab1_category', {'name': 'snowboarding'}) }}" role="button">Каталог</a></p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#categories" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#categories" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> <!-- /categories -->
{% endblock %}
