<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon" />

        <title>{% block title %}Основы разработки веб-приложений{% endblock %}</title>

        <link href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
        <script src="{{ asset('vendor/respond/dest/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <nav>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="{{ path('lab1_index') }}">Лабораторные работы №1, №2</a></li>
                            <li role="presentation"><a href="{{ path('lab3_index') }}">Лабораторная работа №3</a></li>
                            <li role="presentation"><a href="{{ path('lab5_index') }}">Лабораторная работа №5</a></li>
                            <li role="presentation"><a href="{{ path('lab6_index') }}">Лабораторная работа №6</a></li>
                            <li role="presentation"><a href="{{ path('lab7_index') }}">Лабораторная работа №7</a></li>
                            <li role="presentation"><a href="{{ path('lab8_index') }}">Лабораторная работа №8</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-9 col-md-10">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div> <!-- /container -->
        {% endblock %}

        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/holderjs/holder.min.js') }}"></script>
        <script src="{{ asset('vendor/symfony-collection/jquery.collection.js') }}"></script>
        <script src="{{ asset('js/utils.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('ul.nav').activateNavs();
                $('.collection-widget').collection({
                    'add':
                        '<a class="btn btn-sm btn-success" href="#" role="button" aria-label="Добавить">' +
                            '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>' +
                        '</a>'
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
