{% extends 'base.html.twig' %}

{% block title %}Лабораторная работа №8{% endblock %}

{% block main %}
    {% block navbar_wrapper %}
        <nav id="navbar_wrapper" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('lab8_doctors_list') }}">Врачи</a></li>
                        <li><a href="{{ path('lab8_patients_list') }}">Пациенты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block page_header_wrapper %}
        <div class="page-header">
            {% block page_header %}<h1>Лабораторная работа №8</h1>{% endblock %}
        </div>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
