{% extends 'lab8/base.html.twig' %}

{% block title %}{{ doctor }}{% endblock %}

{% block page_header %}<h1>{{ doctor }}</h1>{% endblock %}

{% block content %}
    <h2>Информация о враче</h2>
    <table class="table table-striped table-hover">
        <tr><th>Имя</th><td>{{ doctor.firstName }}</td></tr>
        <tr><th>Фамилия</th><td>{{ doctor.lastName }}</td></tr>
        <tr><th>Специальность</th><td>{{ doctor.specialty.name }}</td></tr>
    </table>

    {% if appointments_list %}
        <h2>Расписание</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Время приема</th>
                <th>Имя пациента</th>
                <th>Фамилия пациента</th>
            </tr>
            {% for appointment in appointments_list %}
                {% set patient = appointment.patient %}
                <tr>
                    <td>{{ appointment.datetime|date }}</td>
                    <td>{{ patient.firstName }}</td>
                    <td><a href="{{ path('lab8_patient_view', {'id': patient.id}) }}">{{ patient.lastName }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
