{% extends 'lab8/base.html.twig' %}

{% block title %}Врачи больницы{% endblock %}

{% block page_header %}<h1>Врачи больницы</h1>{% endblock %}

{% block content %}
    {% if doctors_list %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Специальность</th>
            </tr>
            {% for doctor in doctors_list %}
                <tr>
                    <td>{{ doctor.firstName }}</td>
                    <td><a href="{{ path('lab8_doctor_view', {'id': doctor.id}) }}">{{ doctor.lastName }}</a></td>
                    <td>{{ doctor.specialty.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
