{% extends 'lab8/base.html.twig' %}

{% block title %}Пациенты больницы{% endblock %}

{% block page_header %}<h1>Пациенты больницы</h1>{% endblock %}

{% block content %}
    {% if patients_list %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
            </tr>
            {% for patient in patients_list %}
                <tr>
                    <td>{{ patient.firstName }}</td>
                    <td><a href="{{ path('lab8_patient_view', {'id': patient.id}) }}">{{ patient.lastName }}</a></td>
                    <td>{{ patient.phone }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
