{% extends 'lab8/base.html.twig' %}

{% block title %}{{ patient }}{% endblock %}

{% block page_header %}<h1>{{ patient }}</h1>{% endblock %}

{% block content %}
    <h2>Информация о пациенте</h2>
    <table class="table table-striped table-hover">
        <tr><th>Имя</th><td>{{ patient.firstName }}</td></tr>
        <tr><th>Фамилия</th><td>{{ patient.lastName }}</td></tr>
        <tr><th>Телефон</th><td>{{ patient.phone }}</td></tr>
        <tr><th>Адрес</th><td>{{ patient.address }}</td></tr>
    </table>

    {% if appointments_list %}
        <h2>Расписание</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Время приема</th>
                <th>Имя врача</th>
                <th>Фамилия врача</th>
            </tr>
            {% for appointment in appointments_list %}
                {% set doctor = appointment.doctor %}
                <tr>
                    <td>{{ appointment.datetime|date }}</td>
                    <td>{{ doctor.firstName }}</td>
                    <td><a href="{{ path('lab8_doctor_view', {'id': doctor.id}) }}">{{ doctor.lastName }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
