body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Панель навигации */
.navbar-wrapper {
    margin-bottom: 20px;
}

/* Подвал */
.footer {
    color: #777;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* Карусель */
.carousel {
    margin-bottom: 20px;
}

.carousel-inner > .item {
    background-color: #777;
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-caption {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #777; /* Для IE8 */
    background-color: rgba(119, 119, 119, .6);
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 150%;
}

/* Миниатюры */
.thumbnail .caption {
    text-align: center;
}

/* Формы */
fieldset {
    margin-bottom: 20px;
}

/* Кнопки */
.btn {
    margin: 2px;
}
