{% extends 'base.html.twig' %}

{% block title %}Лабораторная работа №6{% endblock %}

{% block main %}
    {% block page_header_wrapper %}
        <div class="page-header">
            {% block page_header %}<h1>Лабораторная работа №6</h1>{% endblock %}
        </div>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
