{% extends 'lab6/base.html.twig' %}

{% block content %}
    <h2>Задание 1</h2>
    <h3>Список товаров</h3>
    {% for product, price in products %}
        <p>{{ product }}: {{ price }}</p>
    {% endfor %}

    <h3>Статистика</h3>
    <p>Количество товаров: {{ products_count }}</p>
    <p>Суммарная стоимость: {{ total_price }}</p>

    <h2>Задание 2</h2>
    {% for row in symbols_table %}
        {{ row }}<br />
    {% endfor %}
{% endblock %}
