{% extends 'lab1/base.html.twig' %}

{% block title %}Горные лыжи{% endblock %}

{% block page_header %}
    <h1>Горные лыжи</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Лыжи">
                <div class="caption">
                    <h2>Лыжи</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Ботинки">
                <div class="caption">
                    <h2>Ботинки</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Палки">
                <div class="caption">
                    <h2>Палки</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Шлемы">
                <div class="caption">
                    <h2>Шлемы</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Маски">
                <div class="caption">
                    <h2>Маски</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="holder.js/200x200" alt="Крепления">
                <div class="caption">
                    <h2>Крепления</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
