{% extends 'lab7/base.html.twig' %}

{% block content %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error }}
        </div>
    {% endfor %}

    <h2>Информация о файле <small>{{ file_path }}</small></h2>
    <ul>
        {% if file_exists %}
            <li>Файл существует.</li>
        {% else %}
            <li>Файл не существует.</li>
        {% endif %}

        {% if is_readable %}
            <li>Файл доступен для чтения.</li>
        {% else %}
            <li>Файл не доступен для чтения.</li>
        {% endif %}

        {% if is_writable %}
            <li>Файл доступен для записи.</li>
        {% else %}
            <li>Файл не доступен для записи.</li>
        {% endif %}

        {% if file_size is not null %}
            <li>Размер файла: {{ file_size }} байт.</li>
        {% endif %}
    </ul>

    {% if file_contents %}
        <h2>Содержимое файла <small>{{ file_path }}</small></h2>
        {% for line in file_contents %}
            {{ line }}<br />
        {% endfor %}
    {% endif %}
{% endblock %}
