{% extends 'base.html.twig' %}

{% block title %}Лабораторная работа №5{% endblock %}

{% block main %}
    {% block navbar_wrapper %}
        <nav id="navbar_wrapper" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('lab5_index') }}">Главная</a></li>
                        {% if EXERCISE_IDS %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Задания <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for exercise_id in EXERCISE_IDS %}
                                    <li><a href="{{ path('lab5_exercise', {'exerciseId': exercise_id}) }}">Задание {{ exercise_id }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block page_header_wrapper %}
        <div class="page-header">
            {% block page_header %}<h1>Лабораторная работа №5</h1>{% endblock %}
        </div>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
