{% extends 'lab5/base.html.twig' %}

{% block title %}Задание {{ exercise_id }}{% endblock %}

{% block page_header %}<h1>Задание {{ exercise_id }}</h1>{% endblock %}

{% block content %}
    {{ form(form) }}

    {% if result or error is not null %}
        <h2>Результат</h2>
        {% if error is not null %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% else %}
            {% for name, value in result %}
                <p>{{ name }} = {{ value }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
