{% extends 'lab5/base.html.twig' %}

{% block content %}
    {% for exercise_id in EXERCISE_IDS %}
        <a href="{{ path('lab5_exercise', {'exerciseId': exercise_id}) }}"><h2>Задание {{ exercise_id }}</h2></a>
    {% endfor %}
{% endblock %}
