{% extends 'lab3/base.html.twig' %}

{% block title %}Обратная связь{% endblock %}

{% block page_header %}<h1>Пожалуйста, ответьте на вопросы анкеты.</h1>{% endblock %}

{% block content %}
    <form action="" method="post">
        <fieldset>
            <legend>Насколько часто Вы посещаете данный сайт?</legend>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="visit_freq" value="once_a_day" /> Раз в день
                </label>
                <label class="radio-inline">
                    <input type="radio" name="visit_freq" value="once_a_year" /> Раз в год
                </label>
                <label class="radio-inline">
                    <input type="radio" name="visit_freq" value="first_time" /> Только зашел...
                </label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Выберите наиболее удачную, на Ваш взгляд, модельную серию автомобилей, выпускаемую компанией Seddon Atkinson.</legend>
            <div class="form-group form-inline">
                <div class="form-group">
                    <select class="form-control" name="fav_series">
                        <option value="200">200-я</option>
                        <option value="300">300-я</option>
                        <option value="400">400-я</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_fav_series_other">Другая:</label>
                    <input type="text" class="form-control" id="id_fav_series_other" name="fav_series_other" />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Как Вы оцениваете перспективы развития компании Seddon Atkinson?</legend>
            <div class="form-group">
                <textarea class="form-control" rows="5" name="trends"></textarea>
            </div>
        </fieldset>
        <fieldset>
            <legend>Оставьте нам свои координаты, чтобы мы могли связаться с Вами:</legend>
            <div class="form-group form-horizontal">
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">Имя</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="id_name" name="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_email" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="id_email" name="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_phone" class="col-sm-2 control-label">Телефон</label>
                    <div class="col-sm-4">
                        <input type="tel" class="form-control" id="id_phone" name="phone" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_fax" class="col-sm-2 control-label">Факс</label>
                    <div class="col-sm-4">
                        <input type="tel" class="form-control" id="id_fax" name="fax" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="subscribe" /> Включите меня в список рассылки рекламных материалов.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Отослать</button>
        <button type="reset" class="btn btn-default">Очистить форму</button>
    </form>
{% endblock %}
