{% extends 'lab3/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .body-style {
            background-color: #ffd;
        }

        .new-body-style {
            background-color: #fdd;
        }

        .highlight-text {
            color: red;
        }

        .highlight-background {
            background-color: #fdd;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var $body = $('body');

            $('.change-body-style').hover(
                function() {
                    $body.removeClass('body-style').addClass('new-body-style');
                },
                function() {
                    $body.removeClass('new-body-style').addClass('body-style');
                }
            ).mouseleave();

            $('#p-1').hover(
                function() {
                    $(this).addClass('highlight-text');
                },
                function() {
                    $(this).removeClass('highlight-text');
                }
            );

            $('#p-2').hover(
                function() {
                    $(this).addClass('highlight-background');
                },
                function() {
                    $(this).removeClass('highlight-background');
                }
            );

            $('#p-3').mouseenter(function() {
                $(this).addClass('highlight-text');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <p><span class="change-body-style">При наведении курсора на этот текст цвет фона документа изменится.</span></p>
    <p id="p-1">Текст первого абзаца.</p>
    <p id="p-2">Текст второго абзаца.</p>
    <p id="p-3">Текст третьего абзаца.</p>
{% endblock %}
